<br/>
<div class="container">
    <h4>Hello {{user.name}}</h4>
    <h4>{{counter}}</h4>

    <div class="input-group mb-3">
        <input type="text" class="form-control " ng-model="user.name" placeholder="ex: Maria" aria-label="area lable" aria-describedby="descricao">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary btn-dark" ng-click="addOne()" type="button" id="button-addon1">+ 1</button>
        </div>
    </div>

    <form name="myForm">
        <div class="input-group mb-3">
            <input  class="input-group-text" type="text" placeholder="ex: joão" ng-model="nomeModel" name="nomeName" value="namemValue" required/>
            <button ng-hide="myForm.$invalid" class="btn btn-dark" ng-disabled="myForm.$invalid"> Save </button>
        </div>
    </form>

    <br/>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>({{listCaronas.length}}) Caronas Encontrada</th>
            </tr>
        </thead>

        <tbody ng-repeat="carona in listCaronas">
            <tr>
                <td>
                    <a href="#edit/{{carona}}"> {{carona}}</a>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
               <td>
                   <button class="btn btn-dark" href="#/new">Novo Cadastro</button>
               </td>
            </tr>
        </tfoot>
    </table>
</div>
